/AudioLoops
/awesometts
/bs4
/Spare stuff
/disable
/downloadaudio
/frozen_fields_addon
/japanese
/kol
/mcd
/addheisiginfo.py.bk
/addJLPTvocab.zip
/addons.rar
/addonsstuff.rar
/AudioLoops.py
/Automatically_show_answer_after_X_seconds.py
/AwesomeTTS.py
/Bulk_Copy_Field.py
/Change_Review_Key_Shortcuts.py
/Deck_name_in_title.py
/Download audio.py
/ExampleSentences.rar
/Fix_AnkiDroids_negative_review_times.py
/HeisigInfo.zip
/hinfo.rar
/Internal_fields_in_card_browser.py
/japaneseexamples.rar
/KimExamples.rar
/mcdsupport.py
/Optional_Variable_Reply_Timeout.py
/real_time_import.log
/Real-Time_Import_for_use_with_the_Rikaisama_Firefox_Extension.py
/Remove_Duplicates.py
/RTKlist.txt
/shortestTanakaAddon.rar
/stripExpressionHTML.py
/WeblioExamples.rar
